services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    ports:
      - "127.0.0.1:27017:27017"

  backend:
    build:
      context: .
      dockerfile: backend/dockerfile
    environment:
      FRONTEND_URL: ${FRONTEND_URL}
      BACKEND_URL: ${BACKEND_URL}
      MONGO_URI: mongodb://mongo:27017/?directConnection=true
      DB_NAME: students
    depends_on:
      - mongo
    ports:
      - "127.0.0.1:8000:8000"
    env_file:
      - .env

  frontend:
    build:
      context: .
      dockerfile: my-coding-coach/dockerfile
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    depends_on:
      - backend
    ports:
      - "127.0.0.1:3000:3000"

volumes:
  mongo-data:
    driver: local
